<div class="row">
  <%= react_component("app.ProfileBox", {userName: current_user.name,
                                         username: current_user.username,
                                         profileImage: profile_image,
                                         postsCount: current_user.posts.length,
                                         followedsCount: current_user.followeds.length,
                                         followingsCount: current_user.followers.length}) %>
  <div class="col-lg-9">
    <%= react_component("app.PostForm", { profileImage: profile_image(:small, {float: 'left !important', "margin-right": "15px" }),
                                          actionUrl: posts_url, authenticityToken: form_authenticity_token }) %>
    <%= react_component("app.PostList", { posts: @posts }) %>
  </div>
</div>
