<div class="row">
  <div class="col-xs-3">
    <div class="widget-head-color-box navy-bg p-lg text-center">
      <%= image_tag current_user.avatar.blank? ? "default_profile.jpg" : current_user.avatar.url, alt: "profile", class: "img-circle circle-border m-b-md" %>
      <div class="m-b-md">
        <h2 class="font-bold no-margins"><%=current_user.name%></h2>
        <small>@<%=current_user.username%></small>
      </div>
      <div>
        <span>100 Postagens</span>
        |
        <span>350 Seguindo</span>
        |
        <span>610 Seguidores</span>
      </div>
    </div>
  </div>
  <div class="col-xs-9">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <div>
          <div class="chat-activity-list">
            <div class="chat-element">
              <a class="pull-left" href="#">
                <img class="img-circle" src="img/a2.jpg" alt="image">
              </a>
              <div class="media-body ">
                <small class="pull-right text-navy">1m ago</small>
                <strong>Mike Smith</strong>
                <p class="m-b-xs"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
              </div>
            </div>
            <div class="chat-element right">
              <a class="pull-right" href="#">
                <img class="img-circle" src="img/a4.jpg" alt="image">
              </a>
              <div class="media-body text-right ">
                <small class="pull-left">5m ago</small>
                <strong>John Smith</strong>
                <p class="m-b-xs"> Lorem Ipsum is simply dummy text of the printing. </p>
                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
              </div>
            </div>
            <div class="chat-element ">
              <a class="pull-left" href="#">
                <img class="img-circle" src="img/a2.jpg" alt="image">
              </a>
              <div class="media-body ">
                <small class="pull-right">2h ago</small>
                <strong>Mike Smith</strong>
                <p class="m-b-xs"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been </p>
                <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-form">
          <form role="form">
            <div class="form-group">
              <textarea class="form-control" placeholder="Message"></textarea>
            </div>
            <div class="text-right">
              <button class="btn btn-sm btn-primary m-t-n-xs" type="submit">
                <strong>Send message</strong>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
