@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome"
@import "style"
@import "toastr_rails"
@import "quill.snow"
@import "posts"

body
  background-color: #f3f3f4 !important
  padding-top: 50px

.more-posts
  box-shadow: 2px 2px 10px #888888
  left: 50%
  position: fixed
  text-align: center
  top: 65px

.example-appear
  opacity: 0.01

.example-appear.example-appear-active
  opacity: 1
  transition: opacity .5s ease-in

.chat-element.post
  margin-top: 15px

.ibox-content.posts
  padding-top: 0

.note-statusbar
  display: none !important

.note-editor.panel
  margin-bottom: 0px !important

.summernote.has-error .note-editor
  border: 1px solid red

.user-profile-overlay
  display: none
  font-size: 32px
  color: white
  margin-top: 32px

.media-body
  padding-left: 10px !important

.global-nav .search-input
  background-color: #f5f8fa
  border: 1px solid #e1e8ed
  border-radius: 21px
  box-sizing: border-box
  color: #292f33
  display: block
  font-size: 12px
  height: 32px
  line-height: 1
  padding: 5px 27px 6px 12px
  transition: all 0.2s ease-in-out 0s
  width: 100%

.users-grid
  width: 100%
  margin: 0px 12%

.user-grid-item
  box-sizing: border-box
  display: inline-block
  background-color: #fff
  border: 1px solid #e1e8ed
  border-radius: 5px
  text-align: left
  margin: 5px 5px 5px 5px
  min-width: 300px
  min-height: 160px
  max-height: 160px

.navbar-top-links .dropdown-alerts
  min-width: 150px !important
  width: auto !important
  text-align: center !important

.widget-head-color-box
  margin-top: 0px !important
  min-width: 250px !important

.profile-image
  border-radius: 20% !important
  border: 4px solid #ffffff !important

.profile-image-small
  position: relative
  margin-top: -2px

.note-editor
  height: 100px !important
  min-height: 100px !important

#page-wrapper
  min-height: 568px !important

.rounded-border-form-div
  max-width: 400px
  padding: 19px 29px 29px
  margin: 20px auto 20px
  border: 1px solid #e5e5e5
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05)
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05)
  box-shadow: 0 1px 2px rgba(0,0,0,.05)

.rounded-border-form-div .form-signin-heading,
.rounded-border-form-div .checkbox
  margin-bottom: 10px

.rounded-border-form-div input[type="text"],
.rounded-border-form-div input[type="email"],
.rounded-border-form-div input[type="password"]
  font-size: 16px
  height: auto
  margin-bottom: 15px
  padding: 7px 9px

.border-form-div
  max-width: 400px
  padding: 19px 29px 29px
  margin: 20px auto 20px

.border-form-div .form-signin-heading,
.border-form-div .checkbox
  margin-bottom: 10px

.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"]
  font-size: 16px
  height: auto
  margin-bottom: 15px
  padding: 7px 9px

.nav-border-down
  margin-bottom: 15px !important

.nav-border-down > li.active
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important
  border-bottom: 3px solid #1ab394 !important

.tabs-container .nav-border-down > li
  margin-right: 35px !important

.top-navigation .nav-border-down > li.active > a
  color: inherit !important

.top-navigation .nav-border-down > li.active > a:hover
  color: inherit !important

.tabs-container .nav-border-down > li.active > a, .tabs-container .nav-border-down > li.active > a:hover, .nav-border-down .nav-tabs > li.active > a:focus
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important

.has-error input[type="file"]
  border: 1px solid red !important

.top-navigation .nav-border-down > li > a
  border: 0 !important
  padding-left: 0 !important
  padding-top: 0 !important
  padding-right: 10px !important
  padding-bottom: 3px !important

#wrapper
  overflow-x: unset !important

.table > tbody.tasks > tr > th, .table > tbody.tasks > tr > td
  border-bottom: 1px solid #e7eaec
  border-top: 0 !important

.custom-link
  color: #a8aaab

.custom-link:hover
  color: #a8aaab
  text-decoration: underline
