<h2>Esqueceu a senha? Não se preocupe, acontece.</h2>

<p>Olá, <%= @resource.name %>!</p>

<p>Estamos enviando o link para criação de uma nova senha. Caso você não tenha solicitado, ignore este email.</p>

<p>Por motivos de segurança, não temos acesso à sua senha atual e ela será apagada quando você criar uma nova.</p>

<p><%= link_to 'CADASTRAR NOVA SENHA', edit_user_password_url(@resource, reset_password_token: @token), style: "-moz-user-select: none; background-image: none; border: 1px solid transparent; cursor: pointer; display: inline-block; font-size: 14px; font-weight: normal; line-height: 1.42857; margin-bottom: 0; padding: 6px 12px; text-align: center; vertical-align: middle; white-space: nowrap; text-decoration: none; border-radius: 3px; background-color: #1ab394; border-color: #1ab394; color: #FFFFFF;" %></p>

<p>Para cadastrar uma nova senha, clique no botão acima ou utilize este link:</p>

<p><%= edit_user_password_url(@resource, reset_password_token: @token) %></p>

<br/>
<p>Abraços,</p>
<p><strong>Equipe AwesomeRailsMicroblog</strong></p>
