<h2>Forgot your password? Do not worry, it happens.</h2>

<p>Hello, <%= @resource.name %>!</p>

<p>We are sending you the link to create a new password. In case you do not asked for it, please ignore this email.</p>

<p>For security reasons, we do not have access to your current password and it will be erased when you create a new one.</p>

<p><%= link_to 'CREATE A NEW PASSWORD', edit_user_password_url(@resource, reset_password_token: @token), style: "-moz-user-select: none; background-image: none; border: 1px solid transparent; cursor: pointer; display: inline-block; font-size: 14px; font-weight: normal; line-height: 1.42857; margin-bottom: 0; padding: 6px 12px; text-align: center; vertical-align: middle; white-space: nowrap; text-decoration: none; border-radius: 3px; background-color: #1ab394; border-color: #1ab394; color: #FFFFFF;" %></p>

<p>To create a new password, click in the above button or use the link below:</p>

<p><%= edit_user_password_url(@resource, reset_password_token: @token) %></p>

<br/>
<p>Kind regards,</p>
<p><strong>AwesomeRailsMicroblog Team</strong></p>
