<li class="<%= 'active' if params[:controller] == 'home' || params[:controller] == 'posts' %>">
  <% if current_user %>
    <%= link_to posts_path do %>
      <span class="nav-label">Início</span>
    <% end %>
  <% else %>
    <%= link_to root_path do %>
      <span class="nav-label">Início</span>
    <% end %>
  <% end %>
</li>
